<a class="waves-effect waves-red btn red accent-1 modal-trigger" href="#modal1">Name</a>
<button class="btn red accent-1 waves-effect waves-red" (click)="send()">Send</button>
<a class="btn red accent-1 tooltipped" data-position="bottom" data-tooltip="Click to clear chat history." (click)="clearHistory()">Clear History</a>


<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Your Name</h4>
    <div id="inputs" class="input-field">
      <input type="text" id="name_input" [(ngModel)]="userIdInput">
      <label for="name_input">Name...</label>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-red red accent-1 btn-flat" (click)="ss.changeUserId(userIdInput)">Save</a>
    </div>
  </div>
</div>