<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Name</a>
<button class="btn waves-effect waves-light" (click)="send()">Send</button>
<a class="btn tooltipped" data-position="bottom" data-tooltip="Click to clear chat history." (click)="clearHistory()">Clear History</a>




<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Your Name</h4>
    <div id="inputs" class="input-field">
      <input type="text" id="name_input" [(ngModel)]="userId">
      <label for="name_input">Name...</label>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Save</a>
    </div>
  </div>
</div>
