<app-chat></app-chat>


<div class="container" style="position: sticky; top: 0; z-index: 99; height: 0;">
  <div class="row">
    <div class="col s12 center">

    </div>
  </div>
</div>

<div class="container" style="
position: relative;
max-height: 80vh;
overflow: auto;
">
  <div class="row">
    <div class="col l6 push-l3 s12">

      <ng-container *ngFor="let item of messages">
        <div class="row">
          <div class="chip" [class.right]="item.userId === userId">
            {{item.message}}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col l6 push-l3 s12">
      <div id="chat_bottom" class="row">
        <div id="inputs" class="input-field">
          <input type="text" id="chat_input" [(ngModel)]="message" (keyup.enter)="send()">
          <label for="chat_input">Message...</label>
        </div>
        <div id="buttons" class="input-field">
          <button id="chat_send" class="btn waves-effect waves-light" (click)="send()">></button>
        </div>
      </div>
    </div>
  </div>
</div>

